/*CSS Document*/
 #big-space {
   height: 0px;
  margin: auto;
 }

/*Header*/
.header {
  margin-top: 15px;
  padding: 0px;
  text-align: center;
  background: #ffff;
  color: #4A5851;
  font-size: 20%;
  font-family:impact;

}



/*NEW TAB*/
.container{
  width: 50%
  margin: 0

}

nav ul {
  margin: 0;
  padding: 6;
  list-style: none;
}

nav li {
display: inline-block;
width: 7%;
margin-left: 150px;
margin-right: 50px;
position: relative;
}

nav a {
  color: #BEC4C1;
  text-transform: uppercase;
  font-size: 10px;
}


/*PIC*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}




/*Footer*/
.footer {
  margin: auto;
   padding: 20px;
   width: 100%;
   background-color: #E5E5E5;
   color: #7E7E7E;
   text-align: right;
   font-size: 9px;
}
