#big-space {
  height: 0px;
 margin: auto;

}

/*Header*/
.header {
 margin-top: 15px;
 padding: 0px;
 text-align: center;
 background: #ffff;
 color: #4A5851;
 font-size: 20%;
 font-family:impact;

}



/*NEW TAB*/
.container{
 width: 10%
 margin: 0

}

nav ul {
 margin: 10;
 padding: 0;
 list-style: none;
}

nav li {
display: inline-block;
width: 7%;
margin-left: 110px;
margin-right: 20px;
position: relative;
}

nav a {
 color: #BEC4C1;
 text-transform: uppercase;
 font-size: 10px;
}


h2{
 margin: auto;
 padding: 20px;
 font-size: 200%;
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; ;
 color: #ffff;
 text-align: center;
 background-image: url("images/header.png");


}



/*Hover for Links*/
a:visited {
  color: #96CF98;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #B2B2B2;
  background-color: transparent;
  text-decoration: underline;
}






















/*Footer*/
.footer {
  margin: auto;
   padding: 20px;
   width: 100%;
   background-color: #E5E5E5;
   color: #7E7E7E;
   text-align: right;
   font-size: 9px;
}
